<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory="reports/.phpunit.cache"
         failOnWarning="true"
         failOnRisky="true"
         executionOrder="default">
    <testsuites>
        <testsuite name="functional">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="reports/junit.xml"/>
        <testdoxText outputFile="reports/testdox.txt"/>
    </logging>
</phpunit>
